{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Planificador de Actividades Semanales</h1>
    <h3>Selecciona Actividades en el Mapa</h3>

    {% csrf_token %}
    
    <!-- Casilla de búsqueda -->
    <div class="search-section">
        <input type="text" id="address-input" class="input-text" placeholder="Ingresa una dirección">
        <button id="search-address" class="btn">Buscar Dirección</button>
    </div>

    <!-- Filtros para mostrar/ocultar lugares turísticos -->
    <div class="filter-section">
        <label>
            <input type="checkbox" id="show-tourist-places">
            Mostrar lugares turísticos
        </label>
        <div class="filter-options">
            <label><input type="checkbox" id="filter-museums"> Mostrar Museos</label>
            <label><input type="checkbox" id="filter-churches"> Mostrar Iglesias</label>
            <label><input type="checkbox" id="filter-parks"> Mostrar Parques</label>
        </div>
    </div>

    <!-- Mapa y Detalles en la misma línea -->
    <div class="map-details-section">
        <!-- Mapa -->
        <div id="map" class="map"></div>

        <!-- Detalles del lugar seleccionado -->
        <div id="place-details" class="details-box">
            <h3>Detalles del lugar seleccionado</h3>
            <div id="details-content">
                <p>Selecciona un lugar en el mapa para ver los detalles.</p>
            </div>
            <button id="add-remove-activity" class="btn" style="display: none;">Agregar a Actividades</button>
        </div>
    </div>

    <!-- Botón para calcular el tiempo de la ruta -->
    <button id="submit-activities" class="btn-large">Calcular tiempo Ruta</button>

    <!-- Actividades Seleccionadas -->
    <h3>Actividades Seleccionadas:</h3>
    <ul id="activity-list" class="activity-list">
        <!-- Aquí aparecerán las actividades confirmadas -->
    </ul>
    <button id="submit-vrptw" class="btn-large">Calcular VRPTW</button>
</div>


<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/georequest.js' %}"></script>


{% endblock %}